
%h1 Thread Statistics

%p Board Name:  #{@single_thread_data[0]}
%p Forum Name:  #{@single_thread_data[1]}
%p Thread Name:  #{@single_thread_data[2]}
%p 
  Thread URL:  
  %a{ :href => @single_thread_data[9] } #{@single_thread_data[9]}
%p First Day Active:  #{@single_thread_data[7]}
%p Last Day Active:  #{@single_thread_data[8]}
%p Total Days Active:  #{@single_thread_data[3]}
%p Total Authors:  #{@single_thread_data[4]}
%p Total Messages:  #{@single_thread_data[5]}
%p Total Original:  #{@single_thread_data[6]}


  