
%h1 Forum Statistics

%p Board Name:  #{@single_forum_data[0]}
%p Forum Name:  #{@single_forum_data[1]}
%p First Day Active:  #{@single_forum_data[7]}
%p Last Day Active:  #{@single_forum_data[8]}
%p Total Days Active:  #{@single_forum_data[2]}
%p Total Threads:  #{@single_forum_data[3]}
%p Total Authors:  #{@single_forum_data[4]}
%p Total Messages:  #{@single_forum_data[5]}
%p Total Original:  #{@single_forum_data[6]}
  