
%h1 Board Statistics

%p Board Name:  #{@single_board_data[0]}
%p 
  Board URL:  
  %a{ :href => @single_board_data[0] } #{@single_board_data[0]}
%p First Day Active:  #{@single_board_data[7]}
%p Last Day Active:  #{@single_board_data[8]}
%p Total Days Active:  #{@single_board_data[1]}
%p Total Forums:  #{@single_board_data[2]}
%p Total Threads:  #{@single_board_data[3]}
%p Total Authors:  #{@single_board_data[4]}
%p Total Messages:  #{@single_board_data[5]}
%p Total Original:  #{@single_board_data[6]}


  